li {
  list-style: none;
}
.todo_wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.form_warpper {
  display: flex;
  padding: 3em;
  justify-content: space-between;
  align-items: center;

  background-color: #ddd;
}

.input_warpper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2em;
}

.input_box {
  margin-right: 24px;
}

.input_box > label {
  margin-right: 4px;
}

.input_box > input {
  border: none;
  border-radius: 4px;
  height: 40px;
}

.btn_add {
  border: none;
  border-radius: 4px;
  background: cadetblue;
  color: #fff;
  padding: 10px 24px;
  cursor: pointer;
}

.work_list {
  display: flex;
  justify-content: flex-start;
}
.work_list > li {
  border: 3px solid blueviolet;
  padding: 1em;
  border-radius: 16px;
  text-align: left;
  width: 33.3%;
}
.btn_wrap {
  width: 100%;
  display: flex;
  gap: 8px;
}
.btn_del {
  /* display: block; */
  width: 50%;
  border: 3px solid red;
  padding: 8px 16px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn_com {
  /* display: block; */
  width: 50%;
  border: 3px solid green;
  padding: 8px 16px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
